@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    position: 'fixed';
    top: 0;
    left: 0;
}

.imagem {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    background: url('https://s3-alpha-sig.figma.com/img/d533/20d9/d8077800dc5328fb0ecb022370d375b7?Expires=1646006400&Signature=H5JJLkVLLVSzEYhH1pqqsoqHM0z0lCeSHQ~x-PQR~7bPPNx1k92lTtZvf-wdIKC3dTJp6S3ahymZl~F0g2ZhX~w97s-mVRMBKH2L4xCApz-KHGSyyA-ixhDaDja33lmV8-MMoRLTHkhI3A6WMMvplTi0MkUNZFXsFeuIiJw6ptsN2itkhG16V2uXMKOfEc48UAljsylSqpKJ2hYNQBrbUfFak8NBQ48bgtiB3b3BBuNAApE2ByuQXI46PU120ePKUbu-8zFARoy4NncGsWZUlu94KufufTZU3gtrc4OrYtQ5I5GTOoqmVvqG-fUSVP6mo1u6rxcuOA0A2gFWCovo4g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA') center;
}

.logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #3751FE;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    color: #3751FE;
}

.desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.input {
    background: #FFFFFF;
    border: 1px solid #C1BBBB;
    box-sizing: border-box;
    padding-top: 3px;
    width: 100%;
}

.border-left-3 {
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    border-top-color: #C1BBBB;
    border-right-color: #C1BBBB;
    border-bottom-color: #C1BBBB;
    border-left-color: #3751FE;
}

.form-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.61);
    padding-top: 5px;
}

.form-control {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3751FE;
    width: 100%;
}

.form-control:focus {
    box-shadow: inset 0 .5px .5px rgba(0, 0, 0, 0.075);
}

.check {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.form-check-label .forgot {
    font-family: 'Roboto';
    font-style: 'normal';
    font-weight: 'normal';
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.61);
}

.forgot a {
    text-decoration: 'none';
}

.btn .btn-primary .btn-outline-primary {
    width: 129px;
    height: 54px;
    left: 85px;
    top: 714px;
}

.login,
.sing-up {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.social-disabled {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.61);
}

.social {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background-color: white;
    border: none;
}

.social:hover {
    background-color: white;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .container-fluid {
        grid-template-columns: 1fr;
    }
    .mt-5 {
        margin-top: 1.8em !important;
        margin-bottom: 3.5em !important;
    }
    .logo {
        font-size: 2.5em;
    }
    form {
        justify-content: center;
    }
    .px-5 {
        padding-left: 1.3em !important;
        padding-right: 1em !important;
    }
    .login,
    .sing-up {
        width: 100%;
        height: 46px;
        left: 31px;
        top: 530px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}